@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Helpers;

@model IEnumerable<myProj.DTO.Res>

<h2>Фильтрация и сортировка филиалов</h2>
<input type="text" id="search" placeholder="Поиск по филиалу" data-bind="value: searchTerm, valueUpdate: 'input'">
<button id="sortAsc">Сортировать по возрастанию</button>
<button id="sortDesc">Сортировать по убыванию</button>

<table id="dataTable">
    <thead>
        <tr>
            <th>Филиал</th>
            <th>Все Филиалы</th>
            <th>Компания Филиала</th>
            <th>Тип</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: filteredCompaniesBranches">
        <tr>
            <td data-bind="text: RequestedBranchName"></td>
            <td data-bind="text: BranchName"></td>
            <td data-bind="text: CompanyName"></td>
            <td data-bind="text: Kind"></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
    <script>
        $(document).ready(function () {
            var originalData = @Html.Raw(Json.Encode(Model));
            var viewModel = {
                companiesBranches: ko.observableArray(originalData),
                searchTerm: ko.observable(''),

                filteredCompaniesBranches: ko.pureComputed(function () {
                    var search = viewModel.searchTerm().toLowerCase();
                    if (!search) {
                        return viewModel.companiesBranches();
                    } else {
                        return ko.utils.arrayFilter(viewModel.companiesBranches(), function (item) {
                            return item.RequestedBranchName.toLowerCase().indexOf(search) !== -1;
                        });
                    }
                })
            };

            $('#sortAsc').on('click', function () {
                viewModel.companiesBranches.sort(function (a, b) {
                    return a.RequestedBranchName.localeCompare(b.RequestedBranchName);
                });
            });

            $('#sortDesc').on('click', function () {
                viewModel.companiesBranches.sort(function (a, b) {
                    return b.RequestedBranchName.localeCompare(a.RequestedBranchName);
                });
            });

            ko.applyBindings(viewModel);
        });
    </script>
}
